body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column; /* Cambio en la dirección del flexbox para apilar elementos verticalmente */
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  form {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 10px auto; /* Añadir un margen para separar los formularios */
    max-width: 300px;
    width: 100%; /* Hacer que los formularios ocupen el ancho completo */
  }
  
  form input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form button {
    background: #007BFF;
    color: #fff;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
  }
  
  form button:hover {
    background: #0056b3;
  }
  