body {
    font-family: Arial, sans-serif;

    /*BACKGROUND FONDO DE PAGINA*/
    background-image: url('../img/background-horizontal.png'); /* Ruta de tu imagen de fondo */
    background-size: cover; /* Escalar la imagen para cubrir todo el espacio */
    background-position: center; /* Centrar la imagen en el elemento */
    background-repeat: no-repeat; /* Evitar que la imagen se repita */
    height: 100vh; /* Asegurar que el elemento ocupe toda la altura de la ventana */
}

/*RESPONSIVE MOVIL*/
@media screen and (max-width: 767px) {
    /*HEADER*/
    .cabecera {
        align-items: center;
        background-color: #000000;
        display: flex;
        justify-content: space-between;
        padding-left: 2rem;
        padding-right: 2rem;
        height: 5rem;
    
        
    }
    
    .logo {
        width: 9rem;
    }
    
    .navegacion__lista {
        display: flex;
        flex-direction: column;
        
    }
    
    .navegacion__item {
        list-style: none;
    }
    
    .navegacion__link {
        color: #afafaf;
        margin-right: 1.25rem;
        text-decoration: none;
    }
    
    .navegacion__link:hover {
        text-decoration: underline;
    }
    
    .navegacion__link.activo {
        color: #ffffff;
    }
}

/*MAIN*/
.contenedor {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
}

.name-menu {
    margin: 10px;
    color: #ffffff;
}

/*MENU*/
.menu-principal {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center;
    

    background-color: #ffce00;
    border-radius: 12px;
    width: 95%;
    height: 350px;
}

.opciones {
    /*background-color: #00fff2;*/
    display: flex;
    
}

.opciones_lista {
    /*border: 1px solid #000000; */
    display: flex;
    flex-direction: column; /* Coloca el contenido uno encima del otro */
    justify-content: center; /* Centra verticalmente el contenido */
    align-items: center; /* Centra horizontalmente el contenido */

    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    

    width: 150px;
    height: 150px;
    background-color: #ffffff;
    border-radius: 50%;
    
    margin-right: 15px; 
    

    background-image: url('../img/logo.jpeg');
    background-size: cover;
}

.opciones_lista:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento */
}

.opciones_lista:active {
    width: 140px;
    height: 140px;
    border: 3px solid #ffffff;
}

/*RESPONSIVE ESCRITORIO*/
@media screen and (min-width: 1024px) {
    /* Estilos específicos para escritorio */
    /*HEADER*/
    .cabecera {
        align-items: center;
        background-color: #000000;
        display: flex;
        justify-content: space-between;
        padding-left: 2rem;
        padding-right: 2rem;
        height: 5rem;
    }

    .logo {
        width: 9rem;
    }

    .navegacion__lista {
        display: flex;
    }

    .navegacion__item {
        list-style: none;
    }

    .navegacion__link {
        color: #afafaf;
        margin-right: 1.25rem;
        text-decoration: none;
    }

    .navegacion__link:hover {
        text-decoration: underline;
    }

    .navegacion__link.activo {
        color: #ffffff;
    }

    /*MAIN*/
.contenedor {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
}

.name-menu {
    margin: 10px;
    color: #ffffff;
}

/*MENU*/
.menu-principal {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center;
    

    background-color: #ffce00;
    border-radius: 12px;
    width: 95%;
    height: 350px;
}

.opciones {
    /*background-color: #00fff2;*/
    display: flex;
    
}

.opciones_lista {
    /*border: 1px solid #000000; */
    display: flex;
    flex-direction: column; /* Coloca el contenido uno encima del otro */
    justify-content: center; /* Centra verticalmente el contenido */
    align-items: center; /* Centra horizontalmente el contenido */

    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    

    width: 200px;
    height: 200px;
    background-color: #ffffff;
    border-radius: 50%;
    
    margin-right: 15px; 
    

    background-image: url('../img/logo.jpeg');
    background-size: cover;
}

.opciones_lista:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento */
}

.opciones_lista:hover {
    width: 190px;
    height: 190px;
    border: 5px solid #ffffff;
}
}